<link rel="stylesheet" href="css/bookDetail.css">
<div class="book-detail-container">
    <a href="/#book-list" class="back-link">Quay trở lại</a>
    <div class="book-detail">
        <div class="book-image">
            <img id="book-image" src="../images/loading_image.png" alt="Book Title">
        </div>
        <div class="book-info">
            <h1 id="book-name"></h1>
            <p id="book-category" class="category"></p>
            <p id="book-price" class="price"></p>
            <p id="book-description" class="description">
            </p>
            <button id="book-detail-add-to-cart" class="add-to-cart">Thêm vào giỏ hàng</button>
        </div>
    </div>
</div>