<link rel="stylesheet" href="css/auth.css">
<div class="auth-container">
    <h2>ĐĂNG NHẬP</h2>
    <form id="loginForm">
        <div class="input-group">
            <label for="username">Đăng nhập:</label>
            <input type="text" id="username" name="username" required autocomplete="username">

        </div>
        <div class="input-group">
            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" required autocomplete="current-password"> 
        </div>
        <button type="submit">Xác nhận</button>
        <p class="redirect"><a href="#register" id="register-link">Đăng ký ở đây nếu chưa có tài khoản</a>.</p>
    </form>
</div>