<link rel="stylesheet" href="css/auth.css">
<div class="auth-container">
    <h2>ĐĂNG KÝ</h2>
    <form id="registerForm">
        <div class="input-group">
            <label for="username">Tên đăng nhập:</label>
            <input type="text" id="username" name="username" required autocomplete="username"> 
        </div>
        <div class="input-group">
            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" required autocomplete="new-password"> 
        </div>
        <div class="input-group">
            <label for="address">Địa chỉ:</label>
            <input type="text" id="address" name="address" required>
        </div>
        <button type="submit">Xác nhận đăng ký</button>
        <p class="redirect"> <a href="#login" id="login-link">Đăng nhập nếu đã có tài khoản</a>.</p>
    </form>
</div>