<link rel="stylesheet" href="css/header.css">
<header class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="#home">Book Store</a>
        </div>

        <ul class="nav-links">
            <li><a href="#home">Home</a></li>

            <li class="dropdown">
                <a href="#book-list">Categories</a>
                <div id="category-dropdown" class="dropdown-content">
                    <!-- Dynamic categories go here -->
                </div>
            </li>

            <li class="search-box">
                <input id="search-input" type="text" id="search" placeholder="Search book by name">
                <button id="search-btn">Search</button>
            </li>

            <li class="cart">
                <a href="#cart">
                    <img src="https://cdn-icons-png.flaticon.com/512/833/833314.png" alt="Cart Icon">
                    <span id="cart-count">0</span>
                </a>
            </li>

            <!-- User info or login/logout -->
            <li class="user-info">
                <span id="user-info"></span>
                <a href="#login">
                <button id="auth-btn">Login</button>
                </a>
            </li>
        </ul>
    </nav>
</header>
<script type="module" src="../js/header.js"></script>
