<link rel="stylesheet" href="css/auth.css">
<div class="auth-container">
    <h2>ĐĂNG NHẬP</h2>
    <form id="loginForm">
        <div class="input-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        <p class="redirect">Bạn chưa có tài khoản ? <a href="#register" id="register-link">Đăng ký ở đây</a>.</p>
    </form>
</div>