<link rel="stylesheet" href="css/auth.css">
<div class="auth-container">
    <h2>ĐĂNG KÝ</h2>
    <form id="registerForm">
        <div class="input-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
            <label for="address">Địa chỉ</label>
            <input type="text" id="address" name="address" required>
        </div>
        <button type="submit">Đăng ký</button>
        <p class="redirect"> <a href="#login" id="login-link">Đăng nhập ở đây</a></p>
    </form>
</div> 